[2020-03-08 21:51] jnylen opened #1 "sportkanalen.se is empty from 2020-03-07 and onwards"
## Channel XMLTV ID

sportkanalen.se

## Specific date

2020-03-07 and onwards

from Gitlab

[2020-03-08 21:56] jnylen opened #2 "Some gaps in Swedish channels"
## Channel XMLTV ID

*  kanal5.se
*  kanal9.se

## Specific date

times in CET

Kanal 5:
*  2020-02-22 20:00 - 2020-02-22 21:00
*  2020-02-22 23:33 - 2020-02-23 00:04
*  2020-02-23 04:35 - 2020-02-23 05:17
*  2020-02-23 21:00 - 2020-02-23 21:32
*  2020-02-24 01:01 - 2020-02-24 01:55
*  2020-02-24 19:33 - 2020-02-24 19:59
*  2020-02-24 23:02 - 2020-02-25 00:04
*  2020-02-25 23:03 - 2020-02-26 00:04

[2020-03-08 21:58] jnylen opened #3 "Include logo in XML file"
## What do you want it to do?
Adding link to logo in XML file

## Why?
Plex will not show logos otherwise

## Examples
[code]

[2020-03-08 22:00] jnylen opened #4 "Airings picking series descriptions"
## Channel XMLTV ID

kanal5.se

## Example
http://xmltv.xmltv.se/kanal5.se_2020-01-24.xml
"Vägens hjältar" 19:00 GMT/20:00 CET has a generic description and not a description for the episode. Many other TV schedules have an episode specific description. Reruns seems to have a description though. Since there is data for a rather long time ahead, could it be that the description is updated at the so

[2020-03-08 22:01] jnylen opened #5 "DR.dk migrating and moving channels."
*Following Channels with be moved to DR.dk TV Streaming services instead of normal TV*

- **DR 3**

- **DR Ultra**

**DR 2** and **DR K** will be migrating into **DR 2** solely.

*DR Radio channel shutting down*

- **DR P7 Mix**

https://www.dr.dk/om-dr/nyheder/markante-aendringer-paa-tv-og-radio-fra-2-januar-2020

[2020-03-08 22:01] jnylen opened #6 "Remove episode-num from Rapport"
Is it possible to remove episode-num from news programs like Rapport and Aktuellt?

[2020-03-08 22:03] jnylen opened #7 "SRF CH"
**Channel XMLTV ID**

All SRF channels

[2020-03-08 22:04] jnylen opened #8 "Fashion TV"
**Channel XMLTV ID**

Example: svt1.svt.se

**Specific date**

Only provided if it's a specific date only.

[2020-03-08 22:04] jnylen opened #9 "Subtitle missing in SVT Dox"
## Channel XMLTV ID

svt2.svt.se

## Specific date

Currently 2019-03-11, but I've seen it previously as well

## Example

The Dox episode had a subtitle "Natten då pappa hämtade oss" in other schedules, but is totally missing (neither present in title or description) in Xmltv data. http://xmltv.xmltv.se/svt2.svt.se_2019-03-11.xml

[2020-03-08 22:05] jnylen opened #10 "Sundance Channel"
**Channel Name****

Sundance Channel

**Available countries**

Poland

[2020-03-08 22:07] jnylen opened #11 "CBS Action, Europa, Reality (in Polish), Drama"

[2020-03-09 21:56] jnylen commented on #3
/move vind

[2020-03-09 21:56] ghost commented on #3
This issue was moved by [jnylen](https://github.com/jnylen) to [xmltv-se/vind#37](https://github.com/xmltv-se/vind/issues/37).

[2020-03-09 21:56] #3 closed

[2020-03-10 20:05] itchykill opened #12 "tv_grab_se_tvzon / closing tag"
When generating output XML file with tv_grab_se_tvzon there is an error in the file.
Debug says there's a wrong closing tag at the last line. The closing tag is < / tv >
Exact error message in xteve:

XML syntax error on line 763831: element < actor > closed by < / tv >

@jnylen
:-)

[2020-03-12 10:26] skoglump commented on #1
It seems that the problem is not limited to sportkanalen.se but is affecting all channels from cmore (which sportkanalen is a part of)

[2020-03-12 23:05] ghost opened #13 "C More DK channels missing"
*@pju55 commented on Mar 12, 2020, 11:07 AM UTC:*

Seems to be problem with all C MORE * DK - no info after Friday March 6th..
No data whether I TV Guide on the VIP website or use the XML download.

*This issue was moved by [jnylen](https://github.com/jnylen) from [xmltv-se/vind#42](https://github.com/xmltv-se/vind/issues/42).*

[2020-03-12 23:06] jnylen commented on #13
@pju55,

This is because they completely removed their grids from the press website and then not answering their emails. I'm still waiting on answer since monday.

There is nothing I can do until they answer that email.

[2020-03-12 23:08] jnylen commented on #12
@itchykill try to remove all of the cache for xmltv in `~/.xmltv` and fetch the data again.
If it still occurs, send me the airing that it happens to. This has been reported multiple times but it has always ended up being either that the files didn't fully download or the script crashed and just cached an incomplete download.

[2020-03-13 12:47] pju55 commented on #13
@jnylen
Fair enough, not much you can do about that.
Bear with me, but I pretty confused about where to create issues.
https://github.com/xmltv-se/vind/issues, or
https://github.com/xmltv-se/issues/issues ?

Still, too, have an outstanding question regarding the VIP subscription - how to change credit card. Where to file that question?

Best regards
Poul

[2020-03-13 19:04] itchykill commented on #12
@jnylen You were right. It works. Thanks!

Tak for hjælpen :-)

[2020-03-13 19:04] #12 closed, assigned to jnylen

[2020-03-14 16:47] jnylen commented on #13
@pju55
Yeah, and with the coronavirus going on some offices completely stopped.
In vind you only create actual code specific stuff. So let's say you logos are missing in channels.xml then that's a Vind issue, or let's say it's writing a non xmltv standard code then that's Vind too.

But if a channel has missing data or channels are completely wrong. Then that should go inside here.
You can create

[2020-03-15 11:21] juppe1969 opened #14 "C More Hits HD Sweden is missing data"
hitshd.cmore.se

No specific date, it's missing for all the dates.

[2020-03-15 11:45] juppe1969 opened #15 "Data not updated when the schedule is changed"
svt2.svt.se, svt1.svt.se

2020-03-15

The data for svt2 at 12.15 is wrong, it says that it is Ishockey sm-finaler, but it is Ballets suédois.
Seams like the files are not updated when they once have been created.

I think this is on every channel that change their program after the creation of the file the first time, but I'm not sure.

[2020-03-15 17:52] jnylen commented on #15
Hi,
I have had some issues when I changed the configuration handler, that should be fine now. Data gets updated after each update has been received from the channel. But only then.

SVT sends updated files every day by ftp. I'll check if they have uploaded any recently.
And if there is any files that have been missed due to the issues.

I'm working to keep these as automatic as possible which was

[2020-03-15 17:53] jnylen commented on #14
I'll check it out.

I moved it to the new backend they have. Might have missed something with hits HD.

[2020-03-15 23:07] jnylen commented on #15
Should be in by now.

[2020-03-15 23:07] #15 closed, assigned to jnylen

[2020-03-17 13:56] juppe1969 opened #16 "VH1 and VH1 Classic is missing data."
Classic.vh1.se and vh1.se

Missing data for all dates.

[2020-03-17 13:57] juppe1969 commented on #15
I dont know what you mean by "You can check Vind out in the org if you wanna help"
But if I would know I would like to help.

[2020-03-17 16:28] jnylen commented on #14
Should be fixed now.

[2020-03-17 16:28] #14 closed, assigned to jnylen

[2020-03-17 16:28] jnylen commented on #13
@pju55 Should be fixed now.

[2020-03-17 16:28] #13 closed, assigned to jnylen

[2020-03-18 08:06] jnylen commented on #1
Should be fixed.

[2020-03-18 08:06] #1 closed

[2020-03-18 08:19] jnylen commented on #16
Fixed.

[2020-03-18 08:19] #16 closed, assigned to jnylen

[2020-03-20 00:27] vimz99 opened #17 "India Channel EPG"
[India.tv.channels.zip](https://github.com/xmltv-se/issues/files/4357413/India.tv.channels.zip)

I've attached webgrab+ xml file for epg of Indian channels. Would be great if you can add them to your service.

[2020-03-20 22:49] jnylen commented on #17
@vimz99 I think you have missunderstood what XMLTV.se does.

We don't fetch data from other tvguide websites, we get them from the channels themselves. Please create one issue per channel/channel owner with the Channel request issue template.

[2020-03-20 22:49] #17 closed, assigned to jnylen

[2020-03-26 15:04] anders55j opened #18 "Godare"
**NOTE: That we do one issue per channel. If you want to request multiple please create one issue per channel.**

**Channel Name**

Godare

**Available countries**

Sweden

**URL**

https://godare.se/

**Contact email / Press URL**
karin.widmark@schibsted.com is on the homepage. Godare seems to be a sibling to matkanalen.tv.

[2020-03-26 15:24] anders55j opened #19 "foxtv.se is missing data for April"
**Channel XMLTV ID**

foxtv.se

**Specific date**

April 1st and onwards

[2020-03-26 16:27] anders55j commented on #2
Some findings the coming days. Some of these should have a special character in the title, like a colon or an exclamation mark. I don't know if it is a coincidence or not.

- fakta.tv4.se 2020-03-28 21:51	2020-03-28 23:00
- fakta.tv4.se 2020-03-29 03:00	2020-03-29 04:03
- fakta.tv4.se 2020-03-29 05:00	2020-03-29 06:00
- fakta.tv4.se 2020-03-29 22:00	2020-03-29 23:00
- fakta.tv4.se 2020-03-30 01:59

[2020-03-26 21:48] jnylen commented on #19
Should be fixed soon. But found an issue in the admin to fix so i'll keep this open.

[2020-03-26 22:13] jnylen commented on #19
Done.

[2020-03-26 22:13] #19 closed, assigned to jnylen

[2020-03-27 18:02] anders55j commented on #19
Looks good now. Thanks!

[2020-04-15 04:52] connaisseur opened #20 "All dw.de data is missing since a loooong time"
**asien.dw.de**

**deutschplus.dw.de**

**dw.de**

This three channels have a long standing empty collection of EPG data. Probably since some migration of xmltv.se and never got fixed; but I've seen a ticket some months ago...

[2020-04-23 14:58] anders55j commented on #2
Probably the worst week so far:
TV4:
tv4.se	2020-04-25 17:59	2020-04-25 19:00
tv4.se	2020-04-27 13:59	2020-04-27 15:00
tv4.se	2020-04-27 23:28	2020-04-27 23:57
sjuan.se	2020-04-28 01:02	2020-04-28 02:00
sjuan.se	2020-04-28 21:59	2020-04-28 23:00
tv4.se	2020-04-28 23:28	2020-04-28 23:57
tv4.se	2020-04-29 20:59	2020-04-29 22:00
tv4.se	2020-04-29 23:28	2020-04-29 23:57
sjuan.se	2020-05-01 01:02	2020-

[2020-04-26 01:04] jnylen commented on #9
Closes due to being old by more than a year.

[2020-04-26 01:04] #9 closed

[2020-04-26 01:04] #5 closed

[2020-04-26 01:06] jnylen commented on #18
@anders55j we do get the data from them already since a few weeks back. I just haven't had the time to create an importer. If you want to I can send you the file and you  can do a PR on [xmltv-se/vind](https://github.com/xmltv-se/vind).

I expect to be able to do it in a few weeks. But no promises. The world is too busy right now.

[2020-04-26 01:24] #20 closed, assigned to jnylen

[2020-04-27 17:27] anders55j commented on #18
Thanks for the offer, but it is not in a language I'm familiar with,

[2020-05-03 18:45] anders55j commented on #2
I assume #104 has been deployed, but it didn't seem to help. I checked the last week available (May 18 - May 24) and there are still gaps present (times in CEST):
hd.tv4.se	2020-05-18 20:00	2020-05-18 21:00
hd.tv4.se	2020-05-24 20:00	2020-05-24 21:00
fakta.tv4.se	2020-05-24 22:00	2020-05-24 23:00
sjuan.se	2020-05-22 13:00	2020-05-22 14:00
sjuan.se	2020-05-24 06:00	2020-05-24 07:00
kanal5.se	2020-0

[2020-05-04 18:44] jnylen opened #21 "Limit the free data to 3 days"
We are going to limit the data supplied by xmltv.se to 3 days so we can most companies from abusing the data to resell it. We have been getting hit on our API (using our own site api key) and on XMLTV.se by companies and while we have been able to ban some we can't ban every ip.

We are going to limit all channels to have 3 days (today + 2 days) in an upcoming deployment.

[2020-05-05 07:03] jnylen commented on #2
@anders55j can you check now?

[2020-05-05 09:46] anders55j commented on #2
All gaps from my previous comment is still there I'm afraid.

[2020-05-05 09:48] anders55j commented on #21
Sad news, but thanks for the heads-up.

[2020-05-06 12:47] tanghus opened #22 "Using the data?"
This is probably not the right forum, but I couldn't find anywhere else.

Firstly, on [your web site](https://xmltv.se/) it says:

But I can't find any guides folder.

### Background:

I have written a Danish TV Guide app for [Sailfish OS](https://sailfishos.org/) mainly to
scratch my own itch. It currently uses an unauthorized API so I haven't officially released it.
Over time the app has improve

[2020-05-08 09:35] rco133 commented on #21
Very sad indeed.

Why must some people ruin it for everyone else just to make som money :-(

Any idea how to get the data now? Have tried to click on the link for Honeybee.it, but it just tells me that it doesn't exist.

Any info will be most appreciated since 2 days of data, will make it troublesome to create timers for recordings and such things.

[2020-05-08 17:15] rco133 opened #23 "Errors in XML file."
Hi.

I am having problems using the XML data downloaded by tv_grab_se_tvzon. I have also tried XMLTV 0.6.1 using tv_grab_eu_xmltvse and the problem is the same there.

Right now it is working if I only download 2 days worth of data. If I download 3 days worth of data, I can't import the XML file.

I have tested the 2 day file in several online XML validators, and that file checks out fine in all o

[2020-05-08 18:18] JD906 opened #24 "Canal9.dk missing data on some days"
**canal9.dk**

**08/05 + 09/05 +14/05**

https://gyazo.com/1646bc1b82ebfb8a5bfbd958bd8303cf

[2020-05-08 18:27] JD906 opened #25 "Disney Channel missing data"
**disneychannel.com**

**disneychannel.dk**

**disneychannel.no**

**disneychannel.fi**

**disneychannel.se**

https://gyazo.com/5c5900645a8f793ee018cfd28980bd8c

[2020-05-08 19:06] kibuan opened #26 "dk4.dk - invalid xml in .gz files"
**Channel XMLTV ID**
dk4.dk

**Specific date**
10/5-2020 - http://xmltv.xmltv.se/dk4.dk_2020-05-10.xml.gz
12/5-2020 - http://xmltv.xmltv.se/dk4.dk_2020-05-12.xml.gz
13/5-2020 - http://xmltv.xmltv.se/dk4.dk_2020-05-13.xml.gz
16/5-2020 - http://xmltv.xmltv.se/dk4.dk_2020-05-16.xml.gz
17/5-2020 - http://xmltv.xmltv.se/dk4.dk_2020-05-17.xml.gz
19/5-2020 - http://xmltv.xmltv.se/dk4.dk_2020-05-19.xml.gz

[2020-05-09 12:35] jnylen commented on #24
Fixed. Regenerating data. Should pop up soon. We had a full harddrive.

[2020-05-09 12:35] #24 closed, assigned to jnylen

[2020-05-09 12:36] jnylen commented on #23
Fixed. Regenerating data. Should pop up soon. We had a full harddrive.

[2020-05-09 12:36] #23 closed, assigned to jnylen

[2020-05-09 12:36] jnylen commented on #25
Fixed. Regenerating data. Should pop up soon. We had a full harddrive.

[2020-05-09 12:36] #25 closed, assigned to jnylen

[2020-05-09 12:36] jnylen commented on #26
Fixed. Regenerating data. Should pop up soon. We had a full harddrive.

[2020-05-09 12:36] #26 closed, assigned to jnylen

[2020-05-09 12:36] jnylen commented on #22
What you are looking for is https://honeybee.it/api

[2020-05-09 12:36] #22 closed, assigned to jnylen

[2020-05-09 15:23] jnylen commented on #2
@anders55j,
If you can check again today (I force exported everything after the drives were full). It looked fixed in my development environment) then I can try to look into it today as I have some time over today.

I noticed one empty spot on tv11.sbstv.se 2020-05-24 20:30-21:30, so I guess all of the issues that you listed in that comment are still correct?

Is your times in UTC or UTC+2?

[2020-05-09 15:27] #18 closed, assigned to jnylen

[2020-05-09 16:14] anders55j commented on #2
Sorry, my times are in UTC+2. All gaps are still there in the new files.

[2020-05-09 18:11] tanghus commented on #22
Thanks, but my pension doesn't have room for that.

[2020-05-09 21:36] kibuan opened #27 "Missing channels-TV.xml.gz file"
When I run:

tv_grab_eu_xmltv.se --configure

After selecting: "15: All tv channels" I get this:

"Failed to fetch http://xmltv.xmltv.se/channels-TV.xml.gz at /usr/local/bin/tv_grab_eu_xmltvse line 400."

If selecting "2: Denmark" I get:

"Failed to fetch http://xmltv.xmltv.se/channels-Denmark.xml.gz at /usr/local/bin/tv_grab_eu_xmltvse line 400."

It seems like some files are missing in http://xm

[2020-05-10 14:48] jnylen commented on #27
Yeah, sorry about that. We removed all files and exported them again. The queue got too big as it was importing files at the same times.

So it was a queue of 2400+ exports.

Should be fine now @kibuan.

[2020-05-10 14:48] #27 closed, assigned to jnylen

[2020-05-10 14:52] jnylen commented on #2
@anders55j does this happen with the SVT channels? They use the same parser. But those you listed hits a different API (but the same api for all of them) while SVT sends files by FTP.

[2020-05-10 14:58] Neoand2 opened #28 "Times are 2 hours off on comedycentral.tv"
Times are 2 hours off for all shows on comedycentral.tv .
Maybe a timezone problem?

For example, "The Daily Show" start ="20200528191000 +0000" should be either
"20200528171000 +0000" or
"20200528191000 +0200"

The show starts at 19:10 CEST

[2020-05-10 15:36] #28 closed, assigned to jnylen

[2020-05-10 15:37] jnylen commented on #28
@Neoand2 yeah, the library we use for parsing some formats changed from automatically converting it to utc from default true to false.

Which messed it up for some sources. I changed this back to true.

I'll push this live later today so if it isn't fixed in two days just ping me in here and i'll look into it.

[2020-05-10 16:33] anders55j commented on #2
No, I've never seen this issue on SVT.

[2020-05-10 17:40] kibuan commented on #27
No worries. Thank you for fixing it 👍😊

[2020-05-10 22:25] Neoand2 commented on #28
@jnylen thank you.. works fine now

[2020-05-13 19:39] kongsted opened #29 "Missing logo"
Hi,
Just a minor "issue". :)
The logo for "hd.tv2.dk" is missing.
Could just be a copy of "https://chanlogos.xmltv.se/tv2.dk.png"
//Kongsted

[2020-06-04 11:12] Neoand2 opened #30 "foxtv.se is missing data for June"
**Channel XMLTV ID**

foxtv.se

[2020-06-05 10:15] jnylen commented on #30
Should be fixed soon. I received the file when the drive for all of the files sent by FTP/Email ends up was full.

And they haven't sent a updated file so it never updated.

I'll see if I can create a warning system for this in the future..

[2020-06-05 10:15] #30 closed, assigned to jnylen

[2020-06-05 16:53] Neoand2 commented on #2
There are still gaps every now and then.

Examples of empty slots:

tv4.se 2020-jun-05 20:00 - 22:00
tv4.se 2020-jun-05 22:15 - 22:40
tv4.se 2020-jun-06 20:00 - 22:00
tv4.se 2020-jun-07 20:00 - 21:00
tv4.se 2020-jun-12 20:00 - 22:00
tv4.se 2020-jun-14 20:00 - 21:00

kanal5.se 2020-jun-07 20:00 - 21:00

tv11.sbstv.se 2020-jun-06 22:00 - 23:00
tv11.sbstv.se 2020-jun-07 22:15 - 23:20

[2020-06-06 00:00] jnylen commented on #2
Fixed, should be up2date tomorrow.

[2020-06-06 00:00] #2 closed

[2020-06-06 11:07] Neoand2 commented on #2
Great! Thank you

[2020-06-11 16:54] anders55j commented on #2
Much better now! Thank You! I still see two gaps but I'm pretty sure that is another issue, if it happens more times I will add a new issue for that.

[2020-06-30 00:22] oj48 opened #31 "news.tv2.dk Data stopped from 28/6 and forward"
**Channel XMLTV ID**

Example: svt1.svt.se

**Specific date**

Only provided if it's a specific date only.

[2020-07-02 15:23] anders55j commented on #31
And also other tv2.dk-channels from 2020-07-06 and onwards

[2020-07-02 21:58] jnylen commented on #31
@anders55j fixed.

@oj48 next time please provide an complete description rather than just in the title in the future.

[2020-07-02 21:59] #31 closed, assigned to jnylen

[2020-07-04 13:06] JD906 opened #32 "No data after 04-Jul on http://xmltv.xmltv.se/"
No data for any channels, after 04-jul on http://xmltv.xmltv.se/

[2020-07-04 13:10] jnylen commented on #32
@JD906 there is data.
Which channels are you talking about?

[2020-07-04 13:37] JD906 commented on #32
Sorry, maybe I looked at it wrong, is the date and timestamp in the middle, when it is created or updated?
https://gyazo.com/4b9cdcf6b3f727e747cc0872fe865442

Anyways, noticed the data for zulu.tv2.dk was all wrong today, thats why I started looking at it.
So the data is wrong for that channel. (haven't checked others)

Also there is only data for a few days, is that the new 3 day limit?

[2020-07-04 14:51] jnylen commented on #32
@JD906 so the listing is just a normal HTTP Server list.
The datetime there is the last time the file was modified.

What you should look at is the numbers on the right. if its below 150 then there is no data.

I ran a force update on TV2 DK channels and i'll go through other channels to fix the data there. Been busy alot the past 6 months. But now got a vacation time for a month so i'll try to fi

[2020-07-04 15:04] JD906 commented on #32
Got it, thx.. :)

[2020-07-04 15:47] jnylen commented on #32
@JD906 Data should be there now. If some days are missing it probably due to cache and should be back tomorrow.

[2020-07-04 15:47] #32 closed, assigned to jnylen

[2020-07-04 15:49] jnylen commented on #7
Won't get added. They have started forcing money from any use even though they are a public company so the data should be Public Data..

And we don't have enough requests for it to wanting to pay for it.

Contact SRF and point them to this issue if you request it.

[2020-07-04 15:49] #7 closed

[2020-07-04 15:50] jnylen commented on #8
No EPG provided anymore. Seems like they shut dwon last year..

[2020-07-04 15:50] #8 closed

[2020-07-05 09:38] pju55 opened #33 "TV Guide channels (honeybee.it ) do not reflect selection of channels"
Hi Joakim,
Some time ago (May 14th) I sent a mail to "support@honeybee.it" because the guide found on for instance "https://honeybee.it/tvguide/2020-07-05" does not reflect my selection and has not done so for several months.

I also have sent questions regarding how to renew my VIP subscription - also without reponse.
Seems like mails does not get to you - or just too busy...?
Can see on the issu

[2020-07-05 12:09] dkrasmussen commented on #23
hi,

now i got this problem
using tv_grab_eu_xmltvse

from my xmltv.xml file
...
</programme\>
<prog \<programme channel="bbcworldnews.com" start="20200705040000 +0000" stop="20200705043000 +0000">
...

and from my mythfilldatabase
2020-07-05 13:59:50.729841 I  Starting IO manager (write)
2020-07-05 13:59:50.950479 E  Error in 7782:5: tag mismatch
2020-07-05 13:59:50.961840 I  No programs found in

[2020-07-05 15:26] jnylen commented on #33
@pju55 I remember answering the renewal email. Not remembering any tvguide email.
I'll fix that this week.

Honeybee questions should be sent to that email, it's just forwarded to my company email. If I don't answer within a week you can just email my private email.

You can go ahead and ping me from the emails you sent and i'll answer from them.

[2020-07-05 15:26] #33 closed, assigned to nobody

[2020-07-05 16:05] pju55 commented on #33
Hi Joakim,

Yes, it's correct that you answered a renewal mail.
But I have not seen any answer to my follow-up mail - if the only way to
change creditcard  is cancel/recreate the subscription when it runs out.
Most likely a stupid question - but I have had enough trouble on other
sites to make me a bit unsafe..

Best regards
Poul

Den søn. 5. jul. 2020 kl. 17.27 skrev Joakim Nylén <notifications@g

[2020-07-05 16:58] jnylen commented on #33
Hi Poul,
We are using Mollie for payments which doesn't really use the same system as Stripe. Meaning the payments happen on their payment site.

And currently I haven't added a way to change the payment method as their way of handling it is a bit messy. We need to create a mandate in order to be allowed to charge that method. And the way they handle subscriptions is that if the first charge doesn

[2020-07-06 10:26] pju55 commented on #33
Hi Joakim,

Thanks a lot for your answer and thorough explanations - I'll just wait for
the mail.

Seems like you've got enough to do in your vacation - hopefully it's OK for
you to use the days off on this.
Fascinated thinking back on the days when I started in IT. Only a (big)
handful of programming languages available. And none of them very helpful.
And the same for databases.
Today lots of lan

[2020-07-09 18:58] anders55j opened #34 "tv11.sbstv.se - are overlapping programmes being removed?"
**Channel XMLTV ID**

tv11.sbstv.se

**Specific date**

2020-07-12

**Example**

I've seen this issue on dplay channels a few times since #2 was fixed. [The official schedule](https://www.dplay.se/tv-guide) has one program 12:15-12:45 and another 12:40-13:10. http://xmltv.xmltv.se/tv11.sbstv.se_2020-07-12.xml lacks the second of those. Maybe this caused too #2 too. I can see this being a feature i

[2020-07-10 11:24] dkrasmussen opened #35 "news.tv2.dk is broken"
ther is only one show the whole day?

[2020-07-11 01:55] jnylen commented on #35
@dkrasmussen fixed tomorrow.

[2020-07-11 01:55] #35 closed, assigned to nobody

[2020-07-11 02:02] jnylen commented on #34
@anders55j they will be if an `end_time` is provided. Clipsource importer does not use these due to the issues you supply here.

The XML file matches up with the tvguide on their website. So unsure what you are talking about.
If they overlap the the end time will be changed to match the start_time of the next airing. As we can't have overlapping airings due to the XMLTV dtd.

[2020-07-13 10:02] anders55j commented on #34
My example seems to fixed in some way, but there is another gap one between 20200716145500 and 20200716152500 GMT in http://xmltv.xmltv.se/tv11.sbstv.se_2020-07-16.xml.  [The official schedule](https://www.dplay.se/tv-guide) has an overlap 16:50-1655 CEST. Can't be a coincidence that the gaps always has an overlap in the official schedule but I don't know where issue is.

By the way, fixing endtim

[2020-07-15 13:14] jnylen commented on #34
@anders55j do you have more days of this?
Easier to track down as if I only see one day it can just be a mishap.

[2020-07-15 13:48] anders55j commented on #34
The coming gaps are far away so I don't have any other schedule to compare with. All are on TV11. Timezone is CEST.
2020-07-28 07:05-2020-07-28 07:25
2020-07-31 17:00-2020-07-31 17:30
2020-08-01 08:05-2020-08-01 09:00
2020-08-01 18:00-2020-08-01 18:55
2020-08-05 17:00-2020-08-05 17:30

[2020-07-18 10:18] jnylen commented on #34
@anders55j I noticed the issue only on the 31/07.
The issue of the missing Sister Wives is this:
The airing before the Sister Wives on 15:00 (UTC) ends on 15:00 while that specific Sister Wives airing starts on 14:55 (UTC) but is listed as airing after. And as we do checks when we add airings on whether it looks like a reliable datetime as we don't want duplicates passing over eachother this airin

[2020-07-18 11:40] anders55j commented on #34
Ok, I think I understand.

Not sure about the temporary fix though. What happens at night if there is no airing? Isn't there a risk that is filled up by the last programme?

[2020-07-21 18:53] reloxx13 opened #36 "[CR] TV - TNT Comedy"
**NOTE: That we do one issue per channel. If you want to request multiple please create one issue per channel.**

**Channel Name**
TNT Comedy
Note: There r more missing TNT Channels.

**Available countries**
Europe? German

**URL**
https://tnt-tv.de/tnt-comedy/

**Contact email / Press URL**

https://tnt-tv.de/impressum

[2020-07-24 08:10] jnylen commented on #36
Won't be added due to Turner stopped delivering them to me and only deliver them to TV providers so unless I get a customer that are a direct customer of turner then I won't be able to provide any of the Turner channels.

If you can poke your local office of turner to get em access go ahead. But I have tried since we lost the access in like 2017 to get it back but no response.

If I get access bac

[2020-07-24 08:10] #36 closed, assigned to jnylen

[2020-07-24 08:12] jnylen commented on #21
This will happen in a few months.
I'm also coming up with alternative ways of handling this aswell. As requiring people to sign up for an account to get the data so we know whether people steal it or not.

That would allow me to bump the days to a week or so.

[2020-07-25 08:56] rco133 commented on #21
Thanks for the info.

A week would be fine I gues. Just not sure how to get the data. I would also not mind to pay the 149,- SEK a year for the Honeybee service. But I have no idea how to get the data into the programs I use, since they depend on running xmltv from within the program.

Time will tell. Anyway, thanks for the info and providing the data. Just sad that some people misuse it.

[2020-08-07 10:54] pju55 opened #37 "Missing update of honeybee xml file."
Seems to be a problem with my honeybee.xml update.
On my "https://honeybee.it/xmltv/edit" page I can see "EXPORTED 8 DAYS AGO"
Which matches the timestamp of the downloaded xml-file which is dated "Jul 30 08:16".

Best regards
Poul

[2020-08-07 22:07] jnylen commented on #37
@pju55 I got another report for that to my email, and it should be fixed now, running yours manually soon.

JFYI: This issue page is only for XMLTV.se related stuff, not honeybee.it. I.e. if you want a channel added, complete missing data (you need to check xmltv.se for that, otherwise it should be reported to the support email).

Or you can just do everything through the support email.

[2020-08-07 22:07] #37 closed, assigned to jnylen

[2020-08-08 09:53] pju55 commented on #37
@jnylen Yes, looking much better now.
I know this is not the place for honeybee problems. But, I have a long record of sending mails to the support email without getting response - seems a bit like a spam filter eats my mails. But next time, I'll try the mail again :-)
Have a nice day.
Poul

[2020-08-09 10:07] #34 closed, assigned to jnylen

[2020-08-27 16:08] anders55j opened #38 "foxtv.se is missing data for September"
**foxtv.se**

**September 2020**

[2020-08-27 23:59] jnylen commented on #38
@anders55j there was an issue where all tv listings sent by email since the move from one email provider to another ruined the email forward to our email parser.

It should now work. I'll close this tomorrow after confirming it is working.

[2020-08-28 14:57] anders55j commented on #38
Looks good now, thanks!

[2020-08-28 15:35] #38 closed, assigned to jnylen

[2020-09-07 08:52] kaiontour opened #39 "much channels do not have data"
channels in Germany like das erste, bundesliga 1-10 and other do not have epg data. when I look to xmltv.xmltv.se I see the files are only a few kb

one example: das erste
5.9.20 is ok, but starting 6.9.20 all is in:
<tv generator-info-name="Vind" generator-info-url="https://xmltv.se"/>

[2020-09-07 10:52] jnylen commented on #39
Hi,
It's because we did a change how we handle incoming files. So we upload these to the cloud. And currently these does not exist there her and it's still processing all of them. It's 400+ GB of files that needs to be transferred.

Please wait for a bit and it should pop up soon.

[2020-09-12 01:50] jnylen commented on #39
Hi again @kaiontour,
They should be popping in now again.
Has to do some changes in how I handle incoming files via ftp and email so took a bit of time.

Ping me if any channel doesn't have data by today's lunch.

[2020-09-12 15:03] anders55j commented on #39
Hi, I'm still missing natgeo.se

[2020-09-13 00:19] jnylen commented on #39
@anders55j on it's way up.

[2020-09-13 11:19] jnylen commented on #39
Closing this, data will be coming in during the day. Fixed an issue where the new way of handling incoming files ruined that importer as we fetch the data from the cloud now (where we store all the files) but were pointing the file_read on the wrong variable.

If any other channels are having issues please open a new issue.

[2020-09-13 11:19] #39 closed, assigned to nobody

[2020-09-18 19:23] repbug opened #40 "Sky Deutschland - Misisng Data"
sport1.sky.de

[2020-09-21 11:10] jnylen commented on #40
@repbug
Sorry been busy. I'll look into this later today.

[2020-09-23 06:40] jnylen commented on #21
This is now in.

[2020-09-23 06:40] #21 closed, assigned to jnylen

[2020-09-25 07:37] mactba opened #41 "svt1,svt2 etc Sverige saknar data"
**Channel XMLTV ID
svt1.svt.se etc saknar data
Har bara hittat kanal 9 i listan

**Specific date**
All data saknas på svt1,svt2,tv3 etc

[2020-09-25 08:40] mactba commented on #41
More info From 28/9 and forward and this is for svt1,svt2.tv3,tv4 etc

[2020-09-25 11:47] csch0en opened #42 "all xml Files have no data after 27 sept since a few days"
Hi.

At https://xmltv.xmltv.se, in ALL channel .xml and .gz files there is data missing after the date 27.sept.
This problem exists since a few days. Timestamp of all the files is 23-sept-2020.
They all have only 140/142 bytes.
Is there something going wrong?

BR.

[2020-09-25 12:48] jnylen commented on #42
Read #21

[2020-09-25 12:48] #42 closed, assigned to jnylen

[2020-09-25 12:48] jnylen commented on #41
Read #21

[2020-09-25 12:48] #41 closed, assigned to jnylen

[2020-09-25 13:09] csch0en commented on #42
Thank you for this information.

BR.

[2020-10-01 07:03] hallonstedt opened #43 "Login to get one week data"
I get the problem with commercial misuse of the data you are producing but three days is not very practical when scheduling recordings and keeping track of upcoming recordings.

In the pinned #[issue ](https://github.com/pixelmonster-ou/xmltv.se/issues/21#issue-612087542)where you informed about the reduction to three days, you also open up for logging in or in other ways identifying yourself for

[2020-10-01 17:50] jnylen commented on #43
Hi @hallonstedt,

There are 14 days available on Honeybee.

Currently there is no planned change regarding that. I'm too busy with fixing Honeybee and other real life stuff.

Sadly I haven't had any help with this for the 10 years I have been managing XMLTV.se (and the other names of it) so I don't believe other people would help in this regard.

[2020-10-01 17:50] #43 closed, assigned to jnylen

[2020-10-03 10:33] rogermartensson opened #44 "Missing episode and season number on many swedish channels (all?)"
**Channel XMLTV ID**

svt1.svt.se and tv3.se are two examples.

Some programs has subtitle, but not all have one. Nothing with says anything about seasons or episode.

Here are two examples from two different channels.
[code]
[code]

[2020-10-03 10:50] jnylen commented on #44
Read #21

[2020-10-03 10:50] #44 closed, assigned to jnylen

[2020-10-06 20:58] JD906 opened #45 "Honeybee sample?"
Hi.

Since you limited your data to 3 days, and now all tv-shows are missing season number and episode number, its getting at bit hard to keep track of everything.
On Honeybee.it/xmltv there is at button for getting a sample, but it doesn't work.
I would like to see the data, before paying for a year.
Is that possible?

Regards.

[2020-10-15 18:34] svallebro opened #46 "Season and Episode number missing in data"
**Channel svt1.svt.se**
**Channel svt2.svt.se**
**Channel tv3.se**
**Channel tv4.se**
**Channel kanal5.se**
**Channel tv6.se**
**Channel sjuan.se**
**Channel tv8.se**
**Channel kanal9.se**
**Channel tv10.se**
**Channel tv11.sbstv.se**
**Channel tv12.tv4.se**

Is this the way it supposed to be in the future, after the restrictions to three days of available files?

[2020-10-15 18:47] jnylen commented on #46
Hi,
Yes. The data provided for free is gonna be basic. Which means title and descriptions.

[2020-10-15 18:47] #46 closed, assigned to jnylen

[2020-10-17 19:10] erkswede opened #47 "Episode numbers missing from 2020-09-23 and after"
**Channel XMLTV ID**

Multiple channels, SVT1, SVT2, TV3, TV4 etc.

**Specific date**

From 2020-09-23 and every day after.

Running: tv_grab_eu_xmltvse --config-file <config file for sweden, all channels>
No data for episode numbers are present in the XML returned

I observed this issue inside Mythtv 0.29 when certain episodes didn't record as expected and other episodes was recorded over and ove

[2020-10-18 01:11] jnylen commented on #47
Please look at other issues before creating a duplicate one.

[2020-10-18 01:11] #47 closed, assigned to jnylen

[2020-10-20 07:10] FritzHerbers opened #48 "Channels only having data for 2 days"
As per https://github.com/pixelmonster-ou/xmltv.se/issues/21 the free data is limited to 3 days.

However, only 2 days are available (list made on 2020-10-20 after update and showing the last program per channel):
[code]
Can you please make the data available for 3 days.

On the channel status page, the non available dates for a channel should be set to "E means data is missing for that date".

As

[2020-10-20 09:25] flatbat opened #49 "There is no data at all, except for 10-20 (Oct 20th)..?"
There is no data at all, except for 10-20 (Oct 20th)..?

https://xmltv.xmltv.se/00index.html

[2020-10-20 09:33] flatbat commented on #49
Found it now..

[2020-10-20 09:33] #49 closed, assigned to jnylen

[2020-10-20 17:29] Raven-71 opened #50 "xmltv.exe Failed to fetch"
c:\>xmltv.exe tv_grab_eu_xmltvse --days 14 --output "C:\tv_output.xml"
Timezone is +0200
Failed to fetch http://xmltv.xmltv.se/channels-Sweden.xml.gz at /<c:\>grab/eu_xmltvse/tv_grab_eu_xmltvse line 400.

c:\>xmltv.exe tv_grab_eu_xmltvse --version
Timezone is +0200
XMLTV module version 0.6.1
This is tv_grab_eu_xmltvse version 0.6.1

To old xmltv.exe!? this is the latest windows "pre-built binary"

[2020-10-20 18:02] JD906 commented on #50
Try changing http to https in url.

[2020-10-20 18:11] Raven-71 commented on #50
how do i change/configure the xmltv.exe(windows) to use https instead of http?

[2020-10-20 18:22] JD906 commented on #50
I changed mine in the .conf file, in the xmltv folder.
http://xmltv.xmltv.se/channels-Sweden.xml.gz  to  https://xmltv.xmltv.se/channels-Sweden.xml.gz

[2020-10-20 18:49] Raven-71 commented on #50
In the old xmltv.exe Version 0.5.68 the first line in the .conf file is
root-url=http://xmltv.xmltv.se/channels.xml.gz

But in the 0.6.1 there is no such line (instead country=Sweden). And if i add the "root-url=https://xmltv.xmltv.se/channels-Sweden.xml.gz" line, it it just seems to concatenate the 2 addresses to:

Failed to fetch http://xmltv.xmltv.se/channels-https://xmltv.xmltv.se/channels-Swe

[2020-10-20 18:50] jnylen commented on #50
@JD906 I have opened a PR to update it to SSL in the config. Thanks for reminding me.

[2020-10-20 18:50] #50 closed, assigned to nobody

[2020-10-20 18:54] jnylen commented on #50
@Raven-71 I have disabled Force SSL for now until XMLTV releases the version with the fix which I assume will be in 2022.

[2020-10-20 19:16] Raven-71 commented on #50
Thanks!
Now it works again.
so the problem is not that i am running 0.6.1 since there is no link to download 0.6.3?

[2020-10-22 12:23] joshinils opened #51 "berl.rbb-online.de is behind by 2 hours, even after correcting for local timezone"
**Channel XMLTV ID**

berl.rbb-online.de

**Example**
today (2020-10-22 in Berlin, Germany, local time) the program for RBB Berlin starts with:
[code]
The time is wrong by 2 hours, for all of rbb.
however, after correcting it to my local timezone, meaning add 2 hours, it is still behind by 2 hours.

see the correct program here:
https://www.rbb-online.de/fernsehen/programm/

I generate a tv guide

[2020-10-22 12:28] joshinils opened #52 "most german private channels don't have a description for anything"
**Channel XMLTV ID**
this includes, but may not be limited to:
- sat1.se
- rtl.de
- prosieben.de
- kabel1.de
- vox.de
- super.rtl.de
- sixx.de
- rtl2.de
- n-tv.de

[2020-10-22 12:29] joshinils commented on #52
the data is correct, it is just always missing a description, which I find weird.

[2020-10-22 12:33] jnylen commented on #52
It's because of how German TV channels forces everyone to license the use of their images and texts.

Nothing i can do unless I start paying VGMedia x amount per user + channel amount.

You can find a list here
https://www.vg-media.de/en/right-holders.html

Prosieben has their own variant of it.

[2020-10-22 12:33] #52 closed, assigned to jnylen

[2020-10-22 12:39] joshinils commented on #52
I see, so a program-magazine I can buy like hoerzu or tvspielfilm has paid that, even for the online version. but scraping from the channels website would be a no-no.

[2020-10-22 12:42] jnylen commented on #52
Yes.
We have signed or written agreements for all channels. We don't scrape websites unless given an OK by them.

For example Prosieben sends us the data by ftp without the descriptions so we can't add that anyway.

Also, so you know. You're not allowed to have the data XMLTV.se produce on a public website. Only for private use.

So don't put that tvguide python project up on the web 🙂

[2020-10-22 12:52] joshinils commented on #52
yes, never intend to do so, currently hosted on a raspi which is very nice since it already hosts a pi-hole where I can sneakily put an html file that also gets hosted in my lan.

besides, anyone could use my code and host it, but then it's not me hosting it

[2020-10-22 20:00] jnylen commented on #48
Hi @FritzHerbers,

It is available for 3 days. Today + 2 days.

Low priority thing. It won't get changed to E as we have data for it. Its just not exported.

Low priority thing. From what I have learned maintaining it is that no one checks the README anyway.

If you read the README you could find a link to it. It's [Honeybee.it](https://honeybee.it).

[2020-10-22 20:01] #4 closed

[2020-10-22 20:02] jnylen commented on #51
@joshinils Good catch i'll look into it on Sunday.

[2020-10-23 06:56] FritzHerbers commented on #48
I checked it once again, it seems that loading at 05:30 CET is too early to receive 3 days, and it might be that the export files are not updated yet. At 08:30 CET I received the third day.

At which time are the export files finished updated/created?

A friend of mine already tried two times in the paste to setup and tried it out myself today. Sign-in is working, but no idea how payment goes (Ico

[2020-11-05 11:39] FritzHerbers commented on #48
There seem to be occasions that there are only 2 days available. I rerun 3 times today. As per 05.11.2020 12:30:
[code]

There is data available for the 05.11 and 06.11: 2 days

[2020-11-06 19:04] angelaschmid opened #53 "Latest data is of today 06.11.2020"
**Channel XMLTV ID**

Many channels, e.g. hd.prosieben.de, hd.rtl.de, hd.sat1.de

**Specific date**

Latest data is of 06.11.2020 (1 day).

[2020-11-07 08:33] Asger-P opened #54 "No data for any channels today and forward"
There is no channel data for any of these channels today ( 2020-11-07 ) and the next days:
http://xmltv.xmltv.se/dr1.dr.dk_2020-11-07.xml
http://xmltv.xmltv.se/dr2.dr.dk_2020-11-07.xml
http://xmltv.xmltv.se/charlie.tv2.dk_2020-11-07.xml
http://xmltv.xmltv.se/fri.tv2.dk_2020-11-07.xml
http://xmltv.xmltv.se/news.tv2.dk_2020-11-07.xml
http://xmltv.xmltv.se/tv2.dk_2020-11-07.xml
http://xmltv.xmltv.se/

[2020-11-07 16:08] Chris56 opened #55 "No data for e.g. zdf.de on 2020.11.07"
zdf.de and other german channels
Despite the list here:
https://xmltv.xmltv.se/00index.html

which claims that there is data for e.g. zdf.de on the 7. November 2020 and 8. Novemvber 2020

the output of tv_grab_eu_xmltvse only starts on the 9th of Novemeber.

This seem to be true at least for all german stations.
Chris
P.S.: I do see entries for the 9th onwards ...

[2020-11-08 00:37] jnylen commented on #55
No need to create another issue when there is already #53. Please look at other issues before create duplicates.

[2020-11-08 00:37] #55 closed, assigned to jnylen

[2020-11-08 00:37] jnylen commented on #54
No need to create another issue when there is already #53. Please look at other issues before create duplicates.

[2020-11-08 00:37] #54 closed, assigned to jnylen

[2020-11-10 22:05] jnylen commented on #53
Should be fixed since 3 days ago.

[2020-11-10 22:05] #53 closed, assigned to jnylen

[2020-11-14 13:16] FritzHerbers commented on #48
No updates for the last 2 days.
As per 14.11.2020 14:00 some examples:
[code]

[2020-11-14 21:32] FritzHerbers commented on #48
Since 2 days I haven't received an update.
I am using tv_grab_eu_xmltvse, which uses a HTTP cache. One file (2020-11-14) in the cache was corrupt, therefor the update process failed.

As this is about the third time I had a corrupt file in the cache, I hope that xmltv.se only shows finished data files for download (no growing file during processing) and that the issue is solely on my side.

xmltv.

[2020-11-15 17:50] jnylen commented on #48
@fritzherbers

These should get done per auto as those are built on the data from the main channel.
And they both have data now.

They are created directly with the data so no growing file. The gzipped file is built from the content of the xml file.
Do these issues disappear after 3 hours?

[2020-11-15 20:34] FritzHerbers commented on #48
@jnylen

As it is a cache, when the file is needed once more, it is taken from the cache, also when corrupt/incomplete.
Only when I notice there is an incomplete file, I delete the cache.
With the sliding 3 days data availability window, when a file is incomplete after 3 days it will not be sourced in, and local processing is working fine again (when no later date has corrupt files).

I don't unde

[2020-11-15 23:08] jnylen commented on #48
The files are updated and created directly.
Meaning we write to the exact same files you fetch.

I'm full aware what you talk about. This would mean a bit of changes in the exporter to handle this. And this has been on the to do list for a while.

I don't provide any guarantees that the files are working as XMLTV.se is provided as-is.

But I sin to have this fixed but when I can't say I'm busy wit

[2020-12-13 19:51] martin4eel opened #57 "adding channel when clicking on channel list"
Just a small problem, nothing super serious.

So when I am in the "Edit Channels" page and click on the right hand side of any channel it automatically tick the first channel (13th Street (DE)). If I click again it un-ticks the channel.

Not a big issuse, but I just noticed that I had added this channel to my XMLTV-file without knowing.

Thanks for a great service 💯

[2020-12-22 14:41] FritzHerbers commented on #48
@jnylen

No valid data for
[code]

[2020-12-28 10:16] jnylen commented on #48
@FritzHerbers
Fixed. They have been queued for a reimport. Issue was that they change their filenames so the filename regex broke.

Can you next time create a new issue rather than posting it in here? Otherwise it falls between the chairs as this issue is lower prioritized.

[2020-12-28 10:17] jnylen commented on #45
@JD906
Sorry for the extremly late answer here. Please email the email address in the footer of the website for a sample. This issue tracking is for a seperate project.

[2020-12-28 10:17] #45 closed, assigned to jnylen

[2020-12-28 10:21] jnylen commented on #57
Hi @martin4eel
It's kinda built that way. That page is just a temporary page as we had issues with the way we did it before.
I'm currently finishing up a beta version of a project that HB and XMLTV.se require called [Metagraph](https://github.com/pixelmonster-ou/metagraph) and when that is done we will relaunch a new design and fix some issues there. But until then I will only fix some major issue

[2020-12-28 10:21] #57 closed, assigned to jnylen

[2020-12-28 10:43] jnylen commented on #40
@repbug
Hi again, sorry for late fix on this. The issue was that Sky for whatever reason decided to add an extra space between `Sky Sport` and `1` so it became `Sky Sport  1` rather than `Sky Sport 1`.

This should now be fixed by tomorrow.

[2020-12-28 10:43] #40 closed, assigned to jnylen

[2020-12-28 13:31] martin4eel commented on #57
Thanks for the information :)

[2020-12-29 15:11] jnylen commented on #48
Closing this now.
It will be kept as is for now.

Files have changed to be provided by our cloud provider so it shouldn't have the same issue as before (with non-complete files). This sync will run on a schedule every 10-15 min.

[2020-12-29 15:11] #48 closed, assigned to jnylen

[2020-12-29 15:11] jnylen commented on #51
This should be done by now.

[2021-01-02 00:08] joshinils commented on #51
I'm afraid not for me, the data I get is ahead by one hour. :roll_eyes:
I have not implemented any special case for rbb, so that can't be it now.

summertime ended since I posted this btw. on 25. Oktober.

[2021-01-10 12:30] jnylen commented on #51
@joshinils
The Berlin and Brandenburg channels will have correct data tomorrow.
I'm considering removing the `gemeinsamt` variant as that doesn't seem to exist anymore.

Please get back to me tomorrow if the data is correct or not.

[2021-01-12 02:39] joshinils commented on #51
ehm, weirdly enough: sometimes...
it starts off good at 6:00 but every day there should be "tagesschau" at 20:00-20:15, which isnt the case on the 12th, but is correct on the 11th and 13th, i'm also terribly confused why some proigrams appear correctly and others do not, or have the wrong time or are just the wrong one..
in any case it is better than before.

[2021-01-18 11:41] pju55 opened #58 "No data in xml zip file after Jan 26th"
Hi Joakim,
Have tried to reach you on (honeybee) mails without response.
So please forgive me opening an issue here...
Best regards
Poul

[2021-01-18 17:17] Chris56 opened #59 "daserste.de and hd.daserste.de empty"
As the title says: no data (even though it is not in error, i.e. it is claimed, there was data.

[2021-02-01 06:46] jnylen commented on #59
This should be done now.

[2021-02-01 06:46] #59 closed, assigned to jnylen

[2021-02-07 18:11] psqv opened #60 "json.xmltv.se down?"
Is json.xmltv.se down or has the url scheme for the json data been changed?

I was using it in a private project, but it seems like i get no data when I poll  (as an example) http://json.xmltv.se/kunskapskanalen.svt.se_2021-02-07.js.gz which used to work just fine.

Please let me know if i need to switch over to an XML parser instead.

[2021-02-07 22:59] jnylen commented on #60
Hi @psqv,

That url has been down since 2019-ish and is not coming back due to abuse from companies that were more willing to use that data than supporting the maintenance of it.

[2021-02-07 22:59] #60 closed, assigned to nobody

[2021-02-13 19:57] flatbat opened #61 "hd.tv4.se"
hd.tv4.se

No data for TV4 Sweden from today;

http://xmltv.xmltv.se/hd.tv4.se_2021-02-13.xml

[2021-02-14 23:30] jnylen commented on #61
Seems fine.

[2021-02-14 23:30] #61 closed, assigned to jnylen

[2021-02-14 23:31] #58 closed, assigned to jnylen

[2021-02-14 23:31] jnylen commented on #51
@joshinils how about now?

[2021-02-16 03:25] joshinils commented on #51
as much the same as i would expect, very good.
the few differences are probably down to this being the local variant of rbb. but aside from that (which is probably good), most of the programs are the same with the same times (escpecially some series with episode numbers, so i'm rather sure about it).

[2021-02-16 08:15] jnylen commented on #51
@joshinils how, closing this then 🙂

[2021-02-16 08:15] #51 closed, assigned to jnylen

[2021-02-25 18:03] FritzHerbers opened #62 "Servus TV HD: EPG shifted for +1 day"
**Channel XMLTV ID**

hd.servustv.de

**Specific date**

Data seems to be shifted +1 day or data is missing.

**Example**

[2021-03-05 14:34] motoz opened #63 "No data on hd.kanal5.se 2021-03-05"
**Channel XMLTV ID**

hd.kanal5.se

Today (and tomorrow) is empty... 2021-03-04 (yesterday) has data now, but I have the feeling that it didn't yesterday.

[2021-03-06 08:38] motoz commented on #63
Seems to be fixed today!

[2021-03-06 08:38] #63 closed, assigned to jnylen

[2021-03-07 21:21] #62 closed, assigned to jnylen

[2021-03-12 17:25] motoz commented on #61
hd.tv4.se is missing data again today http://xmltv.xmltv.se/hd.tv4.se_2021-03-12.xml

[2021-03-26 15:29] motoz opened #64 "hd.tv4.se has data up to yesterday"
**hd.tv4.se*

It has been missing data 'today' for several days. It seems to update daily so 'yesterday' is always ok.

Today (2021-03-26) http://xmltv.xmltv.se/hd.tv4.se_2021-03-25.xml has data and http://xmltv.xmltv.se/hd.tv4.se_2021-03-26.xml and forward is empty.

[2021-03-30 04:22] jnylen commented on #64
Hi @motoz,

Data is provided as is. You can get stable data through honeybee.

[2021-03-30 04:22] #64 closed, assigned to jnylen

[2021-03-30 04:24] motoz commented on #64
I'm aware of that, thanks for the service.

[2021-04-01 15:19] Toroid42 opened #65 "No data for channel "ZDF neo""
Unfortunately there is no data for the channel ZDF neo

[2021-04-02 03:42] jnylen commented on #65
@Toroid42 If you want stable data please subscribe to Honeybee.it.

XMLTV.se is provided AS IS and aren't updated as frequently as Honeybee.

[2021-04-02 03:42] #65 closed, assigned to nobody

[2021-04-07 18:14] csch0en opened #66 "ORF Austria missing data"
I suspect the following problem :

orf1.orf.at - complete missing data
orf2.orf.at - fragmented data
orf3.orf.at - fragmented data

since a few days

BR.

[2021-04-10 23:17] jnylen commented on #66
Hi @csch0en,

Issue was of the internal cronjob not scheduling the jobs for all different underlying processes (each running in a seperate Erlang process) not being queued with a background job. I enqueued this manually now and will post a fix so they will be run.

I'll also look into some failsafes to make sure these are enqueued and add some alerts to different parts for the coming weeks.

The O

[2021-04-10 23:17] #66 closed, assigned to jnylen

[2021-04-10 23:18] jnylen opened #67 "BBC Earth wrong Timezone"

[2021-04-11 01:48] jnylen commented on #67
Should be fixed now.

I have a fix for the languages out too but can't be deployed until a .deb package for gnumeric 1.12.49 has been published.

[2021-04-11 01:48] #67 closed, assigned to jnylen

[2021-04-11 01:49] jnylen opened #68 "BBC Nordic: Languages is always english"
Currently all BBC Nordic channels have english as the language or something similar.
This is due to a issue with spreadsheet picking in [gnumeric](https://gitlab.gnome.org/GNOME/gnumeric/-/issues/555).

This was fixed in 1.12.49 and I have tested and it works as expected locally. So for now it's just the waiting game until a .deb file is out.

[2021-04-11 07:42] csch0en commented on #66
Hi.
Best thanks for your effort.

BR.

[2021-04-18 10:28] csch0en opened #69 "Fragmented Data ORF Austria"
orf1.orf.at
orf3.orf.at

Sorry, but yet again fragmented data.
BR.

[2021-04-28 20:07] jnylen commented on #69
Hi @csch0en<
Sorry for the delay here. Been a busy few weeks.

I'll take a look tomorrow/this weekend and see what it is. Sometimes these tiny issues are hard to track down.

[2021-04-28 20:08] jnylen opened #70 "Add CMore Max 2 (FI)"

[2021-05-01 01:50] jnylen commented on #70
Added.

[2021-05-01 01:50] #70 closed, assigned to jnylen

[2021-05-06 17:32] jnylen opened #71 "New API: SVT"
SVT has changed their delivery system of data.

From providing it by FTP to providing it through an API. Which means there might be a delay of data sometimes.

[2021-05-06 17:33] jnylen opened #72 "Venetsia 1 hour offset"
Data from Venetsia has a 1 hour offset.

[2021-05-06 17:33] jnylen opened #73 "Viasat Sport Urheilu incorrect EPG"

[2021-05-08 16:16] #72 closed, assigned to jnylen

[2021-05-08 16:17] jnylen commented on #69
@csch0en,

Should be fixed since a few days ago.

[2021-05-08 16:17] #69 closed, assigned to jnylen

[2021-05-09 14:14] csch0en commented on #69
Hi.
It looks good and solved.
Very Thanks.
BR.

[2021-05-12 21:59] jnylen commented on #71
Done.

[2021-05-12 21:59] #71 closed, assigned to jnylen

[2021-05-12 22:00] jnylen opened #74 "Bug: Shared GenAgents aren't updated across the cluster"
Which results in updating it in the web ui won't apply the changes across the cluster.

[2021-05-14 12:26] jnylen commented on #74
Done. Completely removed.

[2021-05-14 12:26] #74 closed, assigned to jnylen

[2021-05-14 12:26] jnylen opened #75 "Bug: Dropbox Importers are slow. Move to a tool that uses multiple threads"

[2021-05-14 12:27] jnylen opened #76 "Bug: Highview importers time out"

[2021-05-14 12:28] jnylen opened #77 "Bug: Fashion TV importer returning SSL wrong signature type issue"
Probably SSL issue. Same as we had at work.

[2021-05-21 11:42] TobbeJ opened #78 "Most channels got only 2 days of data"
**Channel XMLTV ID**

For example svt1hd

**Specific date**

Only today and tomorrows data is there but if you look at the overview page on:
https://xmltv.xmltv.se/00index.html
there seems to be data for future dates too but this is not the case

**Example**

See above, only 2 days of data.
i believe this applies to other channels as well but not 100% sure

[2021-05-21 20:00] jnylen commented on #78
@TobbeJ

https://github.com/pixelmonster-ou/xmltv.se/issues/21

No promises of exactly 3 days of data. The data is provided AS IS with no guarantees of 3 days.

[2021-05-21 20:00] #78 closed, assigned to jnylen

[2021-05-30 06:16] Chris56 opened #79 "ZDK Infokanal no data"
E.g.
http://xmltv.xmltv.se/infokanal.zdf.de_2021-05-30.xml
is empty (and has been for some days already ...)

[2021-06-01 05:39] Chris56 opened #80 "Phoenixhd no data"
phoenixhd.daserste.de is empty

However
phoenixhd and phoenix are generally identical and
phoenix.daserste.de is all fine.
So you wouldn't really need both.

[2021-06-01 17:37] Chris56 commented on #80
It's ok now!

[2021-06-01 17:37] #80 closed, assigned to jnylen

[2021-06-01 17:40] jnylen commented on #80
Hi,

Phoenix HD copies the data from Phoenix and just adds HD as the quality.

And XMLTV.se isn't supported more than AS IS. If you want stable data Honeybee.it is the one.

[2021-06-01 17:43] jnylen commented on #79
Available through Honeybee.

[2021-06-01 17:43] #79 closed, assigned to jnylen

[2021-06-01 17:56] Chris56 commented on #80
So - different from the past - I shall not report any broken data? Very important to know as it will save wasted effort.
Then - of course - it would make sense to NOT offer
Faulty Data
Missing Data
when reporting an issue.
Rather inform people not to report.

[2021-06-01 18:26] jnylen commented on #80
@Chris56,

No it's correct to still report it. What I meant is that if you want stable data then you can use Honeybee.it.

Sorry if that came out wrong.

[2021-06-23 11:48] Kornelius777 opened #81 "Wrong Language being pulled"
**Channel XMLTV ID**

kabel1.de

In German, this movie is supposed to be called "Die Farbe Lila"
However, the English title is being pulled.

**Example**

`<programme channel="kabel1.de" start="20210624003000 +0000" stop="20210624025000 +0000">`
`    <title lang="de">The Color Purple</title>`
`    <category lang="en">movie</category>`
`  </programme>`

[2021-06-28 07:37] Kornelius777 commented on #81
Kabel1 and Kabel1 Classics still receive everything in English
Would it be possible to change the DE-language from English (should not be) to German, please?

[2021-08-22 16:35] motoz opened #82 "hd.tv4.se is empty"
**hd.tv4.se**

Is missing all data.

[2021-08-23 03:44] jnylen commented on #82
@motoz ill have a look later today, but xmltv.se is not as supported as honeybee. Honeybee still have data.

[2021-08-23 17:32] motoz commented on #82
Great! I would gladly pay for access to honeybee data but I'm very averse to authorizing anyone to just grab money from my account, so for me there is sadly no suitable payment method.

[2021-08-23 18:40] jnylen commented on #82
@motoz there is a way to pay by bank transfer, would that work?

[2021-08-24 04:49] motoz commented on #82
That would be great! I'm unable to figure out how though, I'll try the support email (again :-) )

[2021-08-25 16:06] motoz commented on #82
hd.tv4.se is working again, and I have a one year subscription to honeybee. Let's see if I ever figure out how to use that together with mythtv...

[2021-08-27 07:33] motoz commented on #82
And now it's broken again...

[2021-09-02 15:15] motoz commented on #82
working again...

[2021-09-02 15:15] #82 closed, assigned to jnylen

[2021-09-23 04:18] motoz opened #83 "hd.tv4.se is missing data"
hd.tv4.se is missing data since 22-09-2021

[2021-09-26 12:01] Chris56 opened #84 "neokika.zdfmobil.de, hd.zdf.de, infokanal.zdf.de no error but no data"
The Channels show "X" meaning there should be data.
However, they all are empty.

[2021-09-27 03:01] jnylen commented on #84
The X means we have data in the database.

If the files doesn't have data then that is a issue. But it is not an issue that will be fixed.

I'm moving the exports over to being dynamic rather than static. So it would be fixed at that point but that depends on if I decide if I should keep doing the free variant of xmltv.se or not as it's not paying for my time.

[2021-10-02 11:53] #83 closed, assigned to jnylen

[2021-10-05 17:39] csch0en opened #85 "Fragmented data on some ORF channels"
orf1.orf.at, orf3.orf.at

in the last days